{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
</section>
<!-- ============================================-->
<!-- Preloader ==================================-->
<div class="preloader" id="preloader">
  <div class="loader">
    <div class="line-scale-pulse-out-rapid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!-- ============================================-->
<!-- End of Preloader ===========================-->

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-0 bg-light" id="page-coming-soon">

  <div class="container-fluid">
    <div class="row">
      <div
        class="col-lg-6 px-0 order-lg-2 min-vh-40 min-vh-sm-50 min-vh-lg-100 align-items-center justify-content-center text-center">
        <div class="position-relative h-100" data-zanim-lg='{"animation":"slide-left","delay":0.4}'
          data-zanim-trigger="scroll">
          <div class="bg-holder bg-overlay bg-warning" id="parallax" data-zanim-trigger="scroll"
            data-zanim-lg='{"animation":"zoom-out","delay":0}'
            style='opacity: 0.2;background-image: url("assets/img/app/exterior.jpg");'>


          </div>
          <!--/.bg-holder-->

        </div>
      </div>
      <div class="col-lg-6 bg-light py-5 py-lg-7 order-1 order-sm-1">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 col-xl-8" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
            <h3 class='mb-4'>
              <i class="fal fa-check-square" width="15" data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}'
                style="color:#fd7e14;"></i>
            </h3>
            <a class="mb-4" href="{{path('index')}}">
              <img src="{{ asset('assets/img/logo/moreno.png')}}" alt="" width="280"
                data-zanim-xs='{"delay":0.1,"animation":"zoom-in"}' />
            </a>
            {# <small style="color:#fd7e14;">beta</small> #}
            <!-- Form -->
            <form class="form-login" action="{{ path('login') }}" method='post'
              style='border-radius:0.1875rem;background-color:transparent'>

              {# Heading #}
              <h4 class="font-weight-light text-uppercase text-center mt-4 mb-4" data-toggle="animation"
                data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                Welcome
              </h4>

              <!-- Email -->
              <div class="form-group" data-zanim-xs='{"delay":0.2,"animation":"zoom-in"}'>


                <input class='form-control' type="text" name="_username" value="{{ last_username }}"
                  placeholder='E-mail'>

              </div>

              <!-- Password -->
              <div class="form-group" style='background-color:transparent'
                data-zanim-xs='{"delay":0.2,"animation":"zoom-in"}'>



                <input class='form-control' type="password" name="_password" placeholder='Password'>

              </div>

              {% if error %}
              <div class='mb-3'>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}


              <!-- Footer -->
              <div class="form-row align-items-center">

                <div class="col-md">

                  <!-- Button -->
                  <button class="form-control text-center text-md-center login"
                    data-zanim-xs='{"delay":0.2,"animation":"zoom-in"}' type="submit"
                    style='box-shadow: 0 1px 4px 0 #fafafa;border:none;'>

                    <p class="login" style='-webkit-appearance:none;border:none;'>Sign in<span class="d-inline-block"
                        style='color:#fd7e14;'>&xrarr;</span></p>
                  </button>

                </div>
              </div> <!-- / .form-row -->

              <!-- Link -->
              <p class="text-center text-muted mt-2 mb-0 font-weight-bold">
                <small class="text-sans-serif">
                  <span>Any issue? </span> <a class="text-dark" href="mailto:steveumuhire@gmail.com">Contact an
                    administrator</a>.
                </small>
              </p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->

{% endblock %}

{% block footer %}

{% endblock %}