{% extends 'base.html.twig' %}

{% block title %}Moreno Architecture{% endblock %}

{% block body %}



<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-6 pb-0" id="moreno">

    <div class="container">
      <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        {# <div class="col-lg-7 text-center">
          <h1 class="mb-3 fs-2 fs-sm-4 font-weight-light">Agency</h1>
        </div> #}
        <div class="col-12 text-center">
          <div class="row justify-content-center">
            <div class="col-12">

              <!-- Header -->
              <div class="bg-cover"
                style="background-image: url(assets/img/agency/team.jpeg);min-height: 250px;background-position: center;background-repeat: no-repeat;background-size: cover;">
              </div>

            </div>
          </div> <!-- / .row -->
          <div class="row justify-content-center mt-4">
            <div class="text-center col" style="max-width: 80.81rem">
              <h1 class="fs-3 fs-sm-4 fs-md-5">proudly<span
                  class="text-serif font-italic font-weight-normal px-2 px-md-3">crafted</span>in
                <br class="d-none d-sm-block">Luxembourg since 2005</h1>
              <p class="mt-4" style='text-align: justify;'>L’activité du bureau moreno architecture est ancrée depuis sa
                création sur le concept
                d’architecture globale.
                Le bureau s’est forgé une solide réputation sur le territoire luxembourgeois, pour la gestion de projets
                complexes et
                créatifs dans des domaines variés.
              </p>
              <p class="mt-4" style='text-align: justify;'>
                En effet, ses aptitudes à traiter toutes les échelles de l’architecture, du design de mobilier au plan
                d’urbanisme, en
                passant par le graphisme, les aménagements d’intérieurs ainsi que le développement durable, en font un
                bureau à part.
                Le bureau dispose de quatre départements : bâtiment (projets de grandes dimensions aussi bien public que
                privé), privé
                (clientèle privée), intérieur (aménagement intérieur et space management).
              </p>
              <p class="mt-4" style='text-align: justify;'>A cela, s’ajoute un département recherche, dans lequel les
                projets les plus complexes dans le domaine de
                la géométrie et
                de la matière sont traités.
                L’attention apportée à s’adapter aux thèmes à traiter avec une écriture spécifique pour chaque projet
                ont
                mis en place
                une agence aux facettes les plus diversifiées.
                Ce qui est commun à tous les dossiers traités, c’est la recherche d’appropriation de l’utilisation dans
                les moyens
                d’expression mis en espace.</p>

              <div class="row justify-content-center mb-5 px-4">
                <div class="col-6 col-xl-4 text-center" data-zanim-xs="{&quot;delay&quot;:0.2}"
                  style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                  <h2 class="fs-3 fs-sm-4 mb-1">6 million</h2>
                  <p class="font-italic text-500">Total m2</p>
                </div>
                <div class="col-6 col-xl-4 text-center mt-xl-0" data-zanim-xs="{&quot;delay&quot;:0.2}"
                  style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                  <h2 class="fs-3 fs-sm-4 mb-1 text-danger">3024</h2>
                  <p class="font-italic text-500">Cups of Coffee</p>
                </div>
              </div>

            </div>
          </div>
        </div>
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-4 bg-light" id="publication">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-auto pr-6">
          <h6 class="mt-4 mt-md-0 text-uppercase">Ils nous ont
            <br class="d-none d-sm-block" />publié</h6>
        </div>
        <div class="col-sm ml-auto mt-sm-0">
          <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/agency/paperjam.svg" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/agency/wort_logo.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/agency/wunnenlogo.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/agency/archiduc-logo.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/agency/logo-elle-decoration-jaune.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="section pb-0" id="people">

    <div class="container" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="row justify-content-center mb-5 px-2">
        <div class="col text-center">
          <div class="row justify-content-center mb-5 px-4">
            <div class="col-lg-7 text-center">
              <h1 class="mb-3 fs-2 fs-sm-4 font-weight-light">Nos collaborateurs</h1>
              {# <p class="mb-1" data-zanim-xs='{"delay":0.3,"animation":"zoom-in"}'>Lorem ipsum dolor sit amet,
                consectetur adipiscing
                elit, sed do eiusmod tempor incididun.</p>
            </div> #}
            </div>

            <div class="row justify-content-center mb-5">
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/employees/stefan1.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('employee') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Stefan</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-3 col-md-3 col-lg-1 mt-4 pl-1 pr-1">
                <div class="row no-gutters">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img src="assets/img/agency/alicia.jpg" class='w-100 fit-cover' alt="...">
                    <a href="{{ path('project') }}">
                      <div
                        class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                        <div class="px-4">

                          <h4 class="text-white text-capitalize">Alicia</h4>
                          <h4 class="text-white text-capitalize text-small">Architecte</h4>

                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- end of .container-->



  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-4 bg-light" id="prix">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-auto pr-6">
          <h6 class="mt-4 mt-md-0 text-uppercase">Ils nous ont
            <br class="d-none d-sm-block" />récompensé</h6>
        </div>
        <div class="col-sm ml-auto mt-sm-0">
          <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/agency/paperjam.svg" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/agency/wort_logo.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/agency/wunnenlogo.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/agency/archiduc-logo.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/agency/logo-elle-decoration-jaune.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <!-- ============================================-->
  <!-- <section> begin ============================-->
  {# <section class="text-center pt-6" id="clients">

    <div class="container">
      <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="col-11">
          <h1 class="mb-3 fs-2 fs-sm-4 font-weight-light">Ils nous font confiance</h1>
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/clients/ey.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/clients/lu.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/clients/ferrari.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/clients/besix.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.6}'>
              <img class="logo" src="assets/img/clients/immobel.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/clients/bil.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/clients/pwc.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/clients/ville.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/clients/ses.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/clients/solu.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.6}'>
              <img class="logo" src="assets/img/clients/bpi.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/clients/rotschild.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/clients/deloitte.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/clients/logement.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/clients/ebay.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/clients/seco.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.6}'>
              <img class="logo" src="assets/img/clients/cmi.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/clients/cbp.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/clients/ad.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/clients/snct.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/clients/paypal.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/clients/ikogest.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.6}'>
              <img class="logo" src="assets/img/clients/vermeg.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/clients/mediobanca.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/clients/kneip.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/clients/cargo.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/clients/olos.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/clients/fg.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.6}'>
              <img class="logo" src="assets/img/clients/catella.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/clients/reuters.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/clients/rtl.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/clients/extensa.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/clients/cushman.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="assets/img/clients/baker.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.6}'>
              <img class="logo" src="assets/img/clients/am.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="assets/img/clients/auchan.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="assets/img/clients/eh.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="assets/img/clients/sodru.png" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="assets/img/clients/is.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- end of .container-->

  </section> #}
  <!-- <section> close ============================-->
  <!-- ============================================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="text-center pt-6" id="clients">

    <div class="container">
      <div class="row justify-content-center" data-zanim-timeline="{}" data-zanim-trigger="scroll">
        <div class="col-12">
          <h1 class="mb-3 fs-2 fs-sm-4 font-weight-light">Ils nous font confiance</h1>
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <div class="bg-light p-4 p-sm-6 h-100 rounded">
                <img class="logo-grid" src="assets/img/clients/bdl.png" alt=""
                  data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                  style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- end of .container-->

  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->



{% endblock %}