{% extends 'base.html.twig' %}

{% block title %}Moreno Architecture{% endblock %}

{% block body %}

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->


<div class="content mt-0">

  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  {% for category in categories %}
  <!-- INFO
  	================================================== -->
  <section class="section">
    <div class="container">
      <div class="row align-items-justify">
        <div class="col-7">
          <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
            {% if category.photo1 is empty %}
            <img src="assets/img/comingSoon.jpg" class='w-100 fit-cover' alt="...">
            {% else %}
            <img src="{{ asset('assets/img/projects/' ~ category.photo1.photo1 ) }}" class='w-100 fit-cover' alt="...">
            {% endif %}
            {% if category.photo1 is empty %}
            <a href="">

              {% else %}
              <a target="_blank" href="{{ path('project', { id: category.photo1.getId() }) }}">
                {% endif %}
                <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                  {% if category.photo1 is empty %}

                  <div class="px-4">

                    <h3 class="text-white text-capitalize">A définir</h3>

                  </div>

                  {% else %}

                  <div class="px-4">

                    <h3 class="text-white text-capitalize">{{ category.photo1.label | title}}</h3>

                  </div>
                  {% endif %}
                </div>
              </a>
          </div>
        </div>

        <div class="col-2"></div>
        <div class="col-3">
          <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
            {% if category.photo2 is empty %}
            <img src="assets/img/comingSoon.jpg" class='w-100 fit-cover' alt="...">
            {% else %}
            <img src="{{ asset('assets/img/projects/' ~ category.photo2.photo2 ) }}" class='w-100 fit-cover' alt="...">
            {% endif %}
            {% if category.photo2 is empty %}
            <a href="">

              {% else %}
              <a target="_blank" href="{{ path('project', { id: category.photo2.getId() }) }}">
                {% endif %}
                <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                  {% if category.photo2 is empty %}

                  <div class="px-4">

                    <h3 class="text-white text-capitalize">A définir</h3>

                  </div>

                  {% else %}

                  <div class="px-4">

                    <h3 class="text-white text-capitalize">{{ category.photo2.label | title}}</h3>

                  </div>
                  {% endif %}
                </div>
              </a>
          </div>
          <div class="pt-3">
            <a href="">
              <h5>
                {{ category.label | title}}
              </h5>
            </a>
            <h6 class="section__subheading" style='margin-bottom:0px'>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </h6>
          </div>
        </div>

      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


  <div id="target-down"></div>

  <!-- HERO
      ================================================== -->
  <section>
    <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
      {% if category.photo3 is empty %}
      <div class="section section-top section-full " data-parallax="scroll"
        style='background-image:url(assets/img/comingSoon.jpg);min-height:450px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size:cover'>
        {% else %}
        <div class="section section-top section-full " data-parallax="scroll"
          style='background-image:url({{ asset('assets/img/projects/' ~ category.photo3.photo3 ) }});min-height:450px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size:cover'>
          {% endif %}


          {% if category.photo3 is empty %}
          <a href="">

            {% else %}
            <a target="_blank" href="{{ path('project', { id: category.photo3.getId() }) }}">
              {% endif %}
              <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center" href=""
                target="_blank">
                {% if category.photo3 is empty %}

                <div class="px-4">

                  <h3 class="text-white text-capitalize">A définir</h3>

                </div>

                {% else %}

                <div class="px-4">

                  <h3 class="text-white text-capitalize">{{ category.photo3.label | title}}</h3>

                </div>
                {% endif %}
              </div>
            </a>


        </div>
      </div>
  </section>

  {% endfor %}


  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->



  {% endblock %}