{% extends 'base.html.twig' %}

{% block title %}Moreno Architecture{% endblock %}

{% block body %}



<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">


  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="pt-6 pb-6" id="portfolio">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <h1 class="mb-3 fs-2 fs-sm-4 font-weight-light">Projects</h1>

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 mt-3 mt-lg-0">

          </br>
          <div class="sortable min-vh-65" data-options='{"layoutMode":"packery"}'>
            <div class="menu mb-2 justify-content-center">
              <div class="item active" data-filter="*">all</div>
              {% for category in categories %}
              <div class="item" data-filter=".{{ category.label }}">{{ category.label }}</div>
              {% endfor %}

            </div>

            <div class="row no-gutters sortable-container sortable-container-gutter-fix" data-zanim-timeline="{}"
              data-zanim-trigger="scroll">
              {% for category in categories %}
              {% for project in category.projects %}
              <div class="col-6 col-md-3 sortable-item p-2 {{ project.category.label }}">
                <a target="_blank" href="{{ path('project', { id: project.id  }) }}">
                  <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                    <img class="w-100 fit-cover" src="{{ asset('assets/img/projects/' ~ project.photo1 ) }}" alt="" />
                    <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                      <div class="px-4">
                        <h6 class="text-white" data-filter-by="text">{{ project.label }}</h6>

                      </div>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
              {% endfor %}
              {# <div class="col-6 col-md-3 sortable-item p-2 services">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                  <img class="w-100 fit-cover" src="assets/img/categories/one.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h6 class="text-white">One on One</h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 sortable-item p-2 services">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                  <img class="w-100 fit-cover" src="assets/img/categories/intérieur.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h6 class="text-white">One on One</h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 sortable-item p-2 services">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                  <img class="w-100 fit-cover" src="assets/img/categories/hesperange.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h6 class="text-white">One on One</h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 sortable-item p-2 services">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                  <img class="w-100 fit-cover" src="assets/img/categories/intérieur2.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h6 class="text-white">One on One</h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 sortable-item p-2 services">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                  <img class="w-100 fit-cover" src="assets/img/categories/house17.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h6 class="text-white">One on One</h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 sortable-item p-2 services">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                  <img class="w-100 fit-cover" src="assets/img/categories/oneonone.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h6 class="text-white">One on One</h6>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 sortable-item p-2 horeca">
                <div class="hoverbox rounded overflow-hidden" data-zanim-xs='{"animation":"zoom-in","delay":0.2}'>
                  <img class="w-100 fit-cover" src="assets/img/categories/terrasse.jpg" alt="" />
                  <div class="hoverbox-content bg-dark d-flex align-items-center justify-content-center text-center">
                    <div class="px-4">
                      <h6 class="text-white">One on One</h6>

                    </div>
                  </div>
                </div>
              </div> #}
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->



{% endblock %}