{% extends 'base.html.twig' %}

{% block title %}Moreno Architecture{% endblock %}

{% block body %}



<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main min-vh-100" id="top">

    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
        <div class="loader">
            <div class="line-scale-pulse-out-rapid">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->

    <section class="section text-center" id="bigcartel-about">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <h1 class="mb-3 fs-2 fs-sm-4 font-weight-bold">{{ project.label | title}}</h1>
                            <p>La forte identité architecturale et la flexibilité des fonctionnalités font de cet
                                immeuble
                                un
                                projet novateur en accord
                                avec le tissu urbain existant et à l'image de ce quartier vivant et dynamique de la
                                ville de
                                Luxembourg.</p>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-6">

                        <div class="col-8 px-2">
                            <a href="{{asset('assets/img/projects/' ~ project.photo1)}}" data-lightbox="gallery">
                                <img class="rounded img-fluid" src="{{asset('assets/img/projects/' ~ project.photo1)}}"
                                    alt=""
                                    data-zanim-lg="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;zoom-in&quot;}"
                                    style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);width: 696px;">
                            </a>
                        </div>
                        <div class="col px-2">
                            <div class="row">
                                <div class="col-12 px-2">
                                    <a href="{{asset('assets/img/projects/' ~ project.photo2)}}"
                                        data-lightbox="gallery">
                                        <img class="rounded img-fluid"
                                            src="{{asset('assets/img/projects/' ~ project.photo2)}}" alt=""
                                            data-zanim-lg="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;zoom-in&quot;}"
                                            style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                    </a>
                                </div>
                                <div class="col px-2 mt-2">
                                    <a href="{{asset('assets/img/projects/' ~ project.photo3)}}"
                                        data-lightbox="gallery">
                                        <img class="rounded img-fluid"
                                            src="{{asset('assets/img/projects/' ~ project.photo3)}}" alt=""
                                            data-zanim-lg="{&quot;delay&quot;:0.3,&quot;animation&quot;:&quot;zoom-in&quot;}"
                                            style="filter: blur(0px); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 bg-light">

        <div class="container px-lg-0 ">
            <div class="row justify-content-center">
                <div class="col-12 py-6 py-lg-4 py-xl-6">
                    <div class="row h-100 justify-content-center">
                        <div class="col-11">
                            <div class="row">
                                <div class="col-8 col-xl-8 pr-xl-6" data-zanim-timeline='{"delay":0.5}'
                                    data-zanim-trigger="scroll">
                                    {# <div class="overflow-hidden">
                                        <h3 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.1}'
                                            style='font-weight:350'>Administratif</h3>
                                    </div>
                                    <div class="overflow-hidden">
                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.1}'
                                            style='font-weight:350'>Construction d'un immeuble administratif avec façade
                                            double peau passive</h5>
                                    </div>
                                    <div class="overflow-hidden">
                                        <h5 class="mt-1" data-zanim-xs='{"delay":0.1}'>Lauréat du Bauhärepräis OAI 2016
                                        </h5>
                                    </div> #}
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="{{asset('assets/img/projects/' ~ project.photo4)}}"
                                                data-lightbox="gallery">
                                                <img class="rounded img-fluid"
                                                    src="{{asset('assets/img/projects/' ~ project.photo4)}}" alt=""
                                                    data-zanim-xs='{"delay":0.6,"animation":"zoom-in"}'
                                                    data-zanim-trigger="scroll" />
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <a href="{{asset('assets/img/projects/' ~ project.photo5)}}"
                                                data-lightbox="gallery">
                                                <img class="rounded img-fluid"
                                                    src="{{asset('assets/img/projects/' ~ project.photo5)}}" alt=""
                                                    data-zanim-xs='{"delay":0.7,"animation":"zoom-in"}'
                                                    data-zanim-trigger="scroll" />
                                            </a>
                                        </div>
                                    </div>

                                </div>

                                <div class="col px-lg-4" data-zanim-timeline='{"delay":0.6}'
                                    data-zanim-trigger="scroll">
                                    <div class="overflow-hidden">
                                        <h5 class='font-weight-bold' data-zanim-xs='{"delay":0.1}'>
                                            Localité</h5>

                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.2}'>
                                            Luxembourg
                                        </h5>
                                    </div>
                                    <div class="overflow-hidden pt-lg-3">
                                        <h5 class='font-weight-bold' data-zanim-xs='{"delay":0.1}'>
                                            Réalisation</h5>
                                    </div>
                                    <div class="overflow-hidden">
                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.2}'>
                                            2015</h5>
                                    </div>
                                    <div class="overflow-hidden pt-lg-3">
                                        <h5 class='font-weight-bold' data-zanim-xs='{"delay":0.1}'>
                                            Surface brute</h5>
                                    </div>
                                    <div class="overflow-hidden">
                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.2}'>
                                            3000 m²</h5>
                                    </div>
                                    <div class="overflow-hidden pt-lg-3">
                                        <h5 class="font-weight-bold" data-zanim-xs='{"delay":0.1}'>
                                            Chef
                                            de projet</h5>
                                    </div>
                                    <div class="overflow-hidden">

                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.1}'
                                            href="https://themewagon.com/">
                                            Stefan
                                            Hildebrandt</h5>

                                    </div>
                                    <div class="overflow-hidden pt-lg-3">
                                        <h5 class='font-weight-bold' data-zanim-xs='{"delay":0.1}'>
                                            Prestation</h5>
                                    </div>
                                    <div class="overflow-hidden">
                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.2}'>
                                            Architecture,
                                            intérieur</h5>
                                    </div>
                                    <div class="overflow-hidden pt-lg-3">
                                        <h5 class='font-weight-bold' data-zanim-xs='{"delay":0.1}'>
                                            Classe
                                            énergétique</h5>
                                    </div>
                                    <div class="overflow-hidden">
                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.2}'>
                                            CC/Breeam
                                            Excellent</h5>
                                    </div>
                                    <div class="overflow-hidden pt-lg-3">
                                        <h5 class='font-weight-bold' data-zanim-xs='{"delay":0.1}'>
                                            Photographe</h5>
                                    </div>
                                    <div class="overflow-hidden">
                                        <h5 class="text-sans-serif text-600 text-muted" data-zanim-xs='{"delay":0.2}'>
                                            Andres
                                            Lejonas
                                        </h5>
                                    </div>

                                </div>
                                </br>
                                </br>
                                </br>

                                </br>

                            </div>
                            <p
                                class="pl-4 my-6 border-left border-500 border-2x font-italic font-weight-normal gray-600 lead">
                                La façade double peau en verre, le bardage métallique et l’acier inox sont mis en œuvre
                                avec une écriture architecturale
                                minimaliste aux lignes épurées et dynamiques.
                            </p>
                            <div class="col-lg-12 mt-3 pr-0 pl-0">
                                <a href="{{asset('assets/img/projects/' ~ project.photo6)}}" data-lightbox="gallery">
                                    <img class="rounded img-fluid"
                                        src="{{asset('assets/img/projects/' ~ project.photo6)}}" alt=""
                                        data-zanim-xs='{"animation":"zoom-in","delay":0.1}'
                                        data-zanim-trigger="scroll" />
                                </a>
                                <div class="row mt-6">
                                    <div class="col-md col-lg-12 col-xl">
                                        <div class="overflow-hidden">
                                            <h6 class="font-weight-bold ls" data-zanim-xs='{"delay":0.1}'
                                                data-zanim-trigger="scroll">Architecture</h6>
                                        </div>
                                        <div class="overflow-hidden">
                                            <p class="text-justify" data-zanim-xs='{"delay":0.2}'
                                                data-zanim-trigger="scroll">
                                                Le choix d’une structure métallique évite l’usage de poteaux structurels
                                                derrière la façade, dans les plateaux, ce qui
                                                dégage un maximum de surface et permet un aménagement intérieur
                                                ultra-flexible. Autre atout, l’économie de linteaux en
                                                façade laisse entrer un maximum de lumière naturelle. En résulte 3 000
                                                m² de bureaux facilement aménageables, lumineux
                                                et agréables à vivre.</p>
                                        </div>
                                    </div>
                                    <div class="col-md col-lg-12 col-xl mt-4 mt-md-0 mt-lg-4 mt-xl-0">
                                        <div class="overflow-hidden">
                                            <h6 class="font-weight-bold ls" data-zanim-xs='{"delay":0.1}'
                                                data-zanim-trigger="scroll">Mission</h6>
                                        </div>
                                        <div class="overflow-hidden">
                                            <p class="text-justify mb-0" data-zanim-xs='{"delay":0.2}'
                                                data-zanim-trigger="scroll">Mission complète d’architecture du
                                                bâtiment</p>
                                            <p class="text-justify mb-0" data-zanim-xs='{"delay":0.2}'
                                                data-zanim-trigger="scroll">Mission complète d’architecture
                                                d’intérieure</p>
                                            <p class="text-justify mb-0" data-zanim-xs='{"delay":0.2}'
                                                data-zanim-trigger="scroll">Mission partielle en aménagements
                                                locatif</p>
                                            <p class="text-justify mb-0" data-zanim-xs='{"delay":0.2}'
                                                data-zanim-trigger="scroll">Mission de conception des aménagements
                                                extérieurs</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->



{% endblock %}