<!doctype html>
<html lang="en">

<head>

    <title>Moreno Architecture</title>

    {# Meta #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="steve umuhire">
    <meta name="msapplication-config" content="{{ asset('assets/img/favicons/mstile-150x150.png')}}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}

    {# Favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/logo/m.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/logo/m.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/logo/m.png')}}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/img/logo/m.png')}}">
    <link rel="manifest" href="{{ asset('assets/img/favicons/manifest.json')}}">

    {# lib #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('assets/lib/loaders.css/loaders.min.css')}}" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7ccentury gothic:100,300,400,700,800,900"
        rel="stylesheet">
    <link href="{{ asset('assets/lib/remodal/remodal.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/lib/remodal/remodal-default-theme.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/lib/owl.carousel/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/lib/lightbox2/css/lightbox.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/lib/semantic-ui-accordion/accordion.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/lib/semantic-ui-transition/transition.min.css')}}" rel="stylesheet">


    {# CSS Global #}
    <link href="{{ asset('assets/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />

    {% endblock %}

</head>


<body class="overflow-hidden-x">
    {% block header %}

    {% include 'header.html.twig' %}

    {% endblock %}

    {% block body %}


    {% endblock %}

    {% block footer %}

    {% include 'footer.html.twig' %}

    {% endblock %}

    {% block javascripts %}



    {# Jquery #}
    <script src="{{ asset('assets/js/jquery.min.js')}}"></script>

    {# JS Lib #}
    <script src="{{ asset('assets/lib/loaders.css/loaders.css.js')}}"></script>
    <script src="{{ asset('assets/lib/remodal/remodal.js')}}"></script>
    <script src="{{ asset('assets/lib/owl.carousel/owl.carousel.js')}}"></script>
    <script src="{{ asset('assets/lib/lightbox2/js/lightbox.js')}}"></script>
    <script src="{{ asset('assets/lib/isotope-layout/isotope.pkgd.min.js')}}"></script>
    <script src="{{ asset('assets/lib/isotope-packery/packery-mode.pkgd.min.js')}}"></script>

    {# JS Plugins #}
    <script src="{{ asset('assets/js/list.min.js') }}"></script>
    <script src="{{ asset('assets/js/autosize.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js')}}"></script>
    <script src="{{ asset('assets/js/bootstrap.js')}}"></script>
    <script src="{{ asset('assets/js/stickyfill.min.js')}}"></script>
    <script src="{{ asset('assets/js/rellax.min.js')}}"></script>
    <script src="{{ asset('assets/js/progressbar.min.js')}}"></script>
    <script src="{{ asset('assets/js/imagesloaded.pkgd.js')}}"></script>
    <script src="{{ asset('assets/js/CustomEase.js')}}"></script>
    <script src="{{ asset('assets/js/DrawSVGPlugin.js')}}"></script>
    <script src="{{ asset('assets/js/fontawesome-all.js')}}"></script>
    <script src="{{ asset('assets/js/ScrollToPlugin.js')}}"></script>
    <script src="{{ asset('assets/js/TweenMax.js')}}"></script>
    <script src="{{ asset('assets/js/jquery.countdown.min.js')}}"></script>
    <script src="{{ asset('assets/js/map.js')}}"></script>
    <script src="{{ asset('assets/lib/semantic-ui-accordion/accordion.min.js')}}"></script>
    <script src="{{ asset('assets/lib/semantic-ui-transition/transition.min.js')}}"></script>


    {# JS global #}
    <script src="{{ asset('assets/js/theme.js')}}"></script>


    {% endblock %}

</body>

</html>