<!--===============================================-->
<!--    Fancynav-->
<!--===============================================-->
<nav class="fancynavbar pb-2 pb-lg-3"
  data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
  data-zanim-xs='{"from":{"opacity":1,"y":-48},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
  data-zanim-trigger="scroll" data-exclusive="true">

  <div class=" container fancynavbar-togglerbar pr-0" data-onscroll-fade-in="true">
    <a class="fancynavbar-brand ml-xs-2 pt-3 text-black text-uppercase pl-0" href="{{ path('index')}}">
      <img class="fancynavbar-brand-img" src="{{asset('assets/img/logo/moreno-logo.png')}}" alt="" width="220"
        data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}'
        data-zanim-trigger="scroll" />
    </a>

    <div class="fancynavbar-toggler">
      <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg"
        data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}'
        data-zanim-trigger="scroll" style="margin-right: -6px;padding-bottom:.5rem;margin-top: -.3rem;">
        <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
        <path id="path-middle" d="M20,32h30"></path>
        <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0">
        </path>
      </svg>
      {# <a class="fancynavbar-addon-item h1 pl-4" href="https://www.instagram.com/passage.lu/" target="_blank"><span
          class="fab fa-instagram"></span></a> #}
    </div>

    {# <div class="fancynavbar-addon"
      data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}'
      data-zanim-trigger="scroll">
      <a class="fancynavbar-addon-item h1" href="https://www.instagram.com/passage.lu/" target="_blank"><span
          class="fab fa-instagram"></span></a>
    </div> #}
  </div>
  <div class="fancynavbar-collapse">
    <ul class="fancynavbar-nav">
      <li class="fancynav-item">
        <a class="fancynav-link" href="{{ path('index') }}"><span class="fancynavbar-toggler fancynav-link-content">



            <img class="fancynavbar-toggler fancynav-link-content" src="assets/img/moreno.svg">

          </span>
        </a>
      </li>
      {# <li class="fancynav-item">
        <a class="fancynav-link" href="{{ path('projects') }}"><span
            class="fancynavbar-toggler fancynav-link-content">Projects</span></a>
      </li> #}
      {# <li class="fancynav-item fancy-dropdown">
        <a class="fancynav-link fancy-dropdown-toggle" href="JavaScript:void(0)"><span
            class="fancynav-link-content">Projets</span></a>
        <div class="fancy-dropdown-menu">
          <div class="row pb-4 pt-3">
            <div class="col-auto">
              <a class="fancy-dropdown-item fancynavbar-toggler" href="{{ path('projects') }}">Concours</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Privé</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Résidentiel</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Administratif</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Horeca</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Intérieur</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Urbanisme</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Culture</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Retail</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Extérieur</a>
              <a class="fancy-dropdown-item fancynavbar-toggler">Equipement</a>
            </div>
          </div>
        </div>
      </li> #}
      <li class="fancynav-item">
        <a class="fancynav-link" href="{{ path('projects') }}"><span
            class="fancynavbar-toggler fancynav-link-content">Projects</span></a>
      </li>
      <li class="fancynav-item">
        <a class="fancynav-link" href="{{ path('agency') }}"><span
            class="fancynavbar-toggler fancynav-link-content">Bureau</span></a>
      </li>
      <li class="fancynav-item">
        <a class="fancynav-link " href="{{ path('jobs') }}"><span
            class="fancynavbar-toggler fancynav-link-content">Jobs</span></a>
      </li>
      <li class="fancynav-item">
        <a class="fancynav-link " href="{{ path('contact') }}"><span
            class="fancynavbar-toggler fancynav-link-content">Contact</span></a>
      </li>
      <li class="fancynav-item">
        <a class="fancynav-link " href="https://www.instagram.com/morenoarchitecture/" target="_blank"><span
            class="fancynavbar-toggler fancynav-link-content"><span class="fab fa-instagram"></span></span></a>
      </li>
    </ul>
  </div>
</nav>
{# <a class=" h4 pl-4" href="https://www.instagram.com/morenoarchitecture/" style="position:fixed;top:50%;left:95%"
  target="_blank"><span class="fab fa-instagram"></span></a> #}
<!--===============================================-->
<!--    End of Fancynav-->
<!--===============================================-->